$light-blue-primary-navigation-color: #dde0e9;
$translucent-gray-selling-locations: rgba(255, 255, 255, 0.7);
$dark-blue-text-backgroundFooter-borders: #003153;
$golden-brown-sellingLocationText-linkEfect: #b96d34;
$fonts: Arial, Helvetica, sans-serif;
$breakpoint-extra-small: 576px;
$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;

@mixin responsive($max-sreen-width) {
    @media (max-width: $max-sreen-width) {
        @content
    }

}